

<h1>Restaurants#index</h1>

<% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant), class: "text-decoration-none" do %>
    <div>
      <h4> <%= restaurant.name %>  </h4>
    </div>
    <% end %>
<% end %>
